.studyCard-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.studyCard-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.studyCard-exit {
  opacity: 1;
  transform: translateX(0%);
}
.studyCard-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.studyCard-enter-active,
.studyCard-exit-active {
  transition: opacity 500ms, transform 500ms ease-out;
}
